.App {
  display: grid;
  grid-template-rows: min-content auto min-content;
  text-align: center;
  min-height: 100vh;
}

footer {
  display: flex;
  position: static;
  bottom: 0;
  background-color: #282c34;
  color: white;
  width: 100%;
  justify-content: space-between;
  padding: 15px 20px;
}
